.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1em;
  color: #2e1065;
  font-weight: bold;
  font-size: 25px;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 1em;
}

.cart-header span {
  font-size: 20px;
  cursor: pointer;
}

.cart-img img {
  width: 100%;
  height: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  gap: 17px;
  color: #2e1065;
  font-weight: bold;
}

.buttons button {
  border: 1px solid transparent;
  border-radius: 12px;
  padding-inline: 20px;
  padding-block: 3px;

  background-color: #ddd6fe;
  color: #2e1065;
  font-weight: bold;
  box-shadow: 0px 5px 0px #2e1065;
  cursor: pointer;
}

.buttons button:hover {
  box-shadow: none;
  text-shadow: 0 0.1rem #bcb4b4;
}

.modal {
  width: 100%;
  background-color: white;
  position: fixed;
  padding-block: 30px;
  border-radius: 6px;
  right: 0;
  top: 0;
  z-index: 2;
  position: fixed;
  animation: slide-down 300ms ease-out forwards;
  transition: 0.1s ease;
}

.cart-img {
  width: 70px;
  height: 70px;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateX(25rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.cart-item {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 1em;
  background-color: #a5b4fc;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.count-cart {
  display: flex;
  align-items: center;
  font-size: 17px;
  color: #2e1065;
  font-weight: bold;
}

.increase {
  padding-right: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.decrease {
  padding-left: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.cart-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  color: #2e1065;
  font-weight: bold;
}
.remove-cart {
  color: white;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    color: #2e1065;
  }
}

.cart-items {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.empty-cart {
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #2e1065;
  font-weight: bold;
  font-size: 25px;
  padding-left: 10%;
  padding-right: 10%;
}
