.headers{
    color:rgb(161, 50, 130);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:1rem;
    border-bottom:1px solid rgba(0,0,0,0.1);
}

.basket-count{
    position: relative;
}

.header-container{
    margin-left:15%;
    margin-right: 15%;
}

.count{
    position: absolute;
    bottom:-10px;
    right: -7px;
    border-radius: 50%;
    background-color: pink;
    padding-inline:7px;
    font-weight: bold;
}

.basket-img{
    width:30px;
    height: 30px;
}

.hero-container{
    border-top:1px solid rgba(0,0,0,0.01);
}

.hero-img{
    width:400px;
    height: 400px;
}

.hero-container{
    display: flex;
    background-color:rgb(216, 241, 232);
    color:rgb(161, 50, 130);
}

.hero-slogan{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    gap:5px;
}

.hero-slogan span{
    margin-bottom:10px;
    font-size: 19px;
}

.hero-slogan a{
    color: rgb(230, 219, 11);
    background-color:rgb(161, 50, 130);
    text-decoration: none;
    padding-inline:15px;
    padding-block:5px;
    border-radius: 25px;
    max-width:120px;
}