.headers {
  color: #2e1065;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.basket-count {
  position: relative;
}

.count {
  position: absolute;
  bottom: -10px;
  right: -7px;
  border-radius: 50%;
  background-color: #c4b5fd;
  padding-inline: 7px;
  font-weight: bold;
}

.basket-img {
  width: 30px;
  height: 30px;
}

.search-input {
  border-radius: 20px;
  border-color: #c4b5fd;
  border-style: solid;
  padding-inline: 12px;
  padding-block: 2px;
  color: #6d28d9;
}

.search-input:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.3);
  width: 400px;
}

.basket-search {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 767px) {
  .headers {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
  }
  .search-input:focus {
    outline: none;
    border-color: rgba(0, 0, 0, 0.3);
    width: 200px;
  }
}
